[Desktop Entry]
Name=Muon Update Manager
Name[nl]=Muon beheerder voor bijwerken
Name[pa]=ਮੂਉਨ ਅੱਪਡੇਟ ਮੈਨੇਜਰ
Name[uk]=Керування оновленнями
Name[x-test]=xxMuon Update Managerxx
Name[zh_CN]=Muon 更新管理器
Exec=muon-updater %i -caption "%c"
Icon=system-software-update
Type=Application
X-DocPath=muon/index.html
GenericName=Update Manager
GenericName[nl]=Beheerder voor bijwerken
GenericName[pa]=ਅੱਪਡੇਟ ਮੈਨੇਜਰ
GenericName[uk]=Керування оновленнями
GenericName[x-test]=xxUpdate Managerxx
GenericName[zh_CN]=更新管理器
Categories=Qt;KDE;System;
